<div>
  <p><strong>Hello, {{ organizer }}.</strong></p>
  <p>
    You have a new subscription in <strong>{{ meetup }}</strong>.
  </p>
</div>
<div>
  <p><strong>Meetup:</strong> {{ meetup }}</p>
  <p><strong>Date/Time:</strong> {{ date }}</p>
  <p><strong>Participant:</strong> {{ participant }}</p>
</div>
