<div>
  <p><strong>Olá, {{ organizer }}.</strong></p>
  <p>
    Um participante cancelou a inscrição no evento <strong>{{ meetup }}</strong>.
  </p>
</div>
<div>
  <p><strong>Evento:</strong> {{ meetup }}</p>
  <p><strong>Data/Hora:</strong> {{ date }}</p>
  <p><strong>Participante:</strong> {{ participant }}</p>
</div>
